.frame{
    width:100%;
    height:500px;
    border:5px solid rgb(79, 99, 116);
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 3%;
    background-color: rgb(219, 212, 199);
}
body{
    background-color: rgb(240, 240, 146);
}
.heading{
    width:100%;
    height:auto;
    padding:20px;
    background-color: rgb(22, 133, 177);
    font-family: sans-serif;
    font-size:10px;
    color:rgb(2, 39, 39)
}
h2{
    margin-left:10px;
    color: white;
}
.fas{
    margin-right:10px;
}
.aside{
    /* border:2px solid black; */
    margin-top:50px;
    padding:40px;
}
button{
    margin:20px;
}
.buttons{
   padding:10px 15px 10px 15px;
   border:2px solid black;
   width:30%;
   border-radius:10%;
}